<h1>Pirate</h1>

<div class="pirate">
  <h3>Name: <%= @pirate.name %>
  <h4>Weight: <%= @pirate.weight %>
  <h4>Height: <%= @pirate.height %>
</div><br>

<h1>Ships</h1>
<% @ships.each do |ship| %>
  <div class="ship">
    <p>Name: <%= ship.name %>
    <p>Type: <%= ship.type %>
    <p>Booty: <%= ship.booty %>
  </div><br>
<% end %>
